<div class="change-password-page page">
    <div class="change-password clearfix">
        <div class="page-header">
            <h4>修改密码</h4>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <form name="cForm" class="change-form" novalidate>
                <div class="form-group" ng-class="{
                    'has-error': cForm.opwd.$touched && cForm.opwd.$invalid || inputError.opwd}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="opwd" ng-model="user.opassword" placeholder="原密码" maxlength="20" show-tips required>
                    </div>
                    <span class="help-block" ng-show="cForm.opwd.$error.required">请输入原密码</span>
                    <span class="help-block" ng-show="inputError.opwd">原密码错误</span>
                </div>
                <div class="form-group" ng-class="{
                    'has-error': cForm.pwd.$touched && cForm.pwd.$invalid}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="pwd" ng-model="user.password" placeholder="新密码" maxlength="20" required>
                    </div>
                    <span class="help-block">请输入新密码</span>
                </div>
                <div class="form-group" ng-class="{
                    'has-error': cForm.pwd1.$touched && user.password != user.password1}">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="pwd1" ng-model="user.password1" placeholder="确认新密码" maxlength="20" required>
                    </div>
                    <span class="help-block">两次输入的密码不同</span>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="changePassword(cForm)" ng-disabled="cForm.$invalid || user.password != user.password1">确定</button>
            </form>
        </div>
    </div>
</div>