/*
body {
    font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-self;
}*/

body {
    min-width: 340px;
    padding-top: 58px;
}

.form-group {
    &.has-error {
        .help-block {
            display: block;
        }
    }
    .help-block {
        display: none;
    }
}

input, button, textarea{
    outline: none !important;
}

.navbar {
    margin: 0 auto;
    border: none !important;
    background: #fff !important;
}