<div ng-controller="RegisterCtrl" class="register-page page">
    <div class="col-md-5 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">注册</h3>
            </div>
            <div class="panel-body">
                <form name="rForm" class="register-form" novalidate>
                    <div class="form-group" ng-class="{
                    'has-error': rForm.userName.$touched && rForm.userName.$invalid || inputError.userName}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="userName" ng-model="user.userName" placeholder="用户名" maxlength="20" show-tips required>
                        </div>
                        <span class="help-block" ng-show="rForm.userName.$error.required">请输入用户名</span>
                        <span class="help-block" ng-show="inputError.userName">该用户名已被使用</span>
                    </div>
                    <div class="form-group" ng-class="{
                    'has-error': rForm.email.$touched && rForm.email.$invalid}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon-mail"
                                                               aria-hidden="true"></i></span>
                            <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="邮箱" maxlength="30" email-validate required>
                        </div>
                        <span class="help-block">请输入正确的邮箱</span>
                    </div>
                    <div class="form-group" ng-class="{
                    'has-error': rForm.eCode.$touched && rForm.eCode.$invalid  || inputError.eCode}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon-validate"
                                                               aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="eCode" ng-model="user.eCode" minlength="6" maxlength="6" placeholder="邮箱验证码" show-tips required>
                            <span class="input-group-addon ecodeSending" ng-click="sendCode(rForm)">
                                <span ng-show="!sending">获取</span>
                                <span ng-show="sending" ng-bind="leftTime" show-time></span>
                            </span>
                        </div>
                        <span class="help-block" ng-show="rForm.eCode.$invalid">请输入6位验证码</span>
                        <span class="help-block" ng-show="inputError.eCode" ng-bind="eCodeError"></span>
                    </div>
                    <div class="form-group" ng-class="{
                    'has-error': rForm.pwd.$touched && rForm.pwd.$invalid}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="pwd" ng-model="user.password" placeholder="密码" maxlength="20" required>
                        </div>
                        <span class="help-block">请输入密码</span>
                    </div>
                    <div class="form-group" ng-class="{
                    'has-error': rForm.pwd1.$touched && user.password != user.password1}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="pwd1" ng-model="user.password1" placeholder="确认密码" maxlength="20" required>
                        </div>
                        <span class="help-block">两次输入的密码不同</span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="register(rForm)" ng-disabled="rForm.$invalid || user.password != user.password1">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>