.register-page {
    .input-group {
        [class^='glyphicon-'] {
            font-size: 18px;
        }
    }
    .register-form {
        .panel-body {
            padding-top: 30px;
        }
    }
    .ecode-sending {
        cursor: pointer;
        color: #428bca;
    }
}
