.registerPage {
    .input-group {
        [class^='icon-'] {
            font-size: 18px;
        }
    }
    .registerForm {
        .panel-body {
            padding-top: 30px;
        }
    }
    .ecodeSending {
        cursor: pointer;
        color: #428bca;
    }
}
