body {
    padding-top: 0;
}
.package-print-page {
    color: #000;
    .wrong-package {
        font-size: 24px;
        margin: 100px auto;
        text-align: center;
    }
    .package-info {
        max-width: 800px;
        margin: 30px auto;
        .title {
            margin: 0 0 10px;
            font-size: 20px;
            line-height: 22px;
            font-weight: bold;
            text-align: center;
        }
        .line-iti {
            list-style: none;
        }
        .iti-title {
            color: #085;
            font-size: 16px;
            line-height: 32px;
            margin: 10px 0 10px 5px;
        }
        .p_notice {
            color: #0BC972;
            font-size: 13px;
        }
    }
}