<div class="home-page page">
    <tour-header query-str="queryStr"></tour-header>
    <div class="content">
        <div uib-carousel active="0" interval="intervalTime" class="big-carousel" center-img>
            <div uib-slide ng-repeat="slide in slides track by $index" index="$index" ng-swipe-left="$parent.$parent.next()" ng-swipe-right="$parent.$parent.prev()">
                <a href="{{slide.url}}">
                    <img ng-src="{{slide.image}}" class="slide-img">
                </a>
            </div>
        </div>
        <div class="container">
            <div class="hot-title" ng-show="hasPackage">
                <h3>
                    <span>热销推荐</span>
                </h3>
                <p>世界这么大，我想去看看</p>
            </div>
            <ul class="hot-package row">
                <li ng-repeat="package in packages track by $index" class="col-lg-3 col-md-4 col-sm-6">
                    <a class="thumbnail" ui-sref="package({packageId: package._id})">
                        <div class="package-top">
                            <img ng-src="{{package.images[0]}}" class="package-img" alt="">
                        </div>
                        <div class="caption">
                            <h3 ng-bind="package.title" class="package-title"></h3>
                            <p ng-bind="package.features | htmlToPlaintext" class="package-features"></p>
                            <p class="package-price">
                                ￥<span ng-bind="package.minPrice" class="num"></span> 起
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<tour-footer></tour-footer>