.forget-password-page {
    .forget-password {
        max-width: 820px;
        margin: 20px auto;
        .page-header {
            margin: 20px 15px 10px;
            &>h4 {
                margin: 0;
            }
        }
    }
}