.change-email-page {
    .change-email {
        /*max-width: 820px;
        margin: 20px auto;
        @media  (min-width: 1200px){
            margin-left: 8%;
        }*/
        margin-left: 220px;
        @media (max-width: 767px) {
            margin-left: 0;
        }
        .page-header {
            margin: 20px 0 10px;
            &>h4 {
                margin: 0;
            }
        }
        .change-form {
            margin-top: 40px;
            .form-group {
                margin: 20px 0;
            }
            .ecode-sending {
                cursor: pointer;
                color: #428bca;
            }
        }
    }
}