.login-page {
    margin: 80px auto;
    .input-group {
        [class^="glyphicon-"] {
            font-size: 18px;
        }
    }
    .go-register {
        float: right;
        position: relative;
        top: -10px;
        font-size: 80%;
    }
    .form-error {
        color: #a94442;
        margin-top: 5px;
    }
    .captcha {
        padding: 0;
        height: 34px;
        img {
            height: 100%;
            cursor: pointer;
        }
    }
    @media (max-width: 767px) {
        margin: 30px auto;
    }
}