/*
body {
    font-family: Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",Simsun,sans-self;
}*/

body {
    min-width: 300px;
}

.form-group {
    &.has-error {
        .help-block {
            display: block;
        }
    }
    .help-block {
        display: none;
    }
}

input, button, textarea{
    outline: none !important;
}

.navbar {
    margin: 0 auto;
    border: none !important;
    background: #fff !important;
}

.shadow {
    position: absolute;
    left: 0;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    border-top: 1px solid #d6d6d6;
    background-color: rgba(0, 0, 0, .06);
    overflow: hidden;
}

.red-star {
    &:before {
        content: '*';
        color: red;
        padding-right: 4px;
        font-weight: bold;
    }
}