.package-page {
    .wrong-package {
        font-size: 24px;
        margin: 100px auto;
        text-align: center;
    }
    .package-img {
        .carousel {
            width: 450px;
            height: 225px;
        }
        .slide-img {
            width: 100%;
        }
    }
    .package-info {
        margin: 30px auto;
        .title {
            margin: 0;
            font-size: 18px;
            line-height: 22px;
        }
        .collection {
            .collect-form {
                position: relative;
            }
            .collect-form > span {
                cursor: pointer;
                display: inline-block;
                line-height: 34px;
            }
            .glyphicon {
                color: #f30;
                font-size: 20px;
                vertical-align: -16%;
            }
        }
        .price {
            color: #f30;
            font-size: 18px;
            background-color: #f6f6f6;
            padding: 10px 20px;
            .num {
                font-size: 32px;
            }
        }
        .other {
            text-align: center;
            line-height: 25px;
            margin: 10px 0;
            .content {
                color: #838383;
            }
            & > div {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                &:not(:last-child) {
                    border-right: 1px solid #eee;
                }
            }
        }
        .choice {
            .form-group {
                label {
                    line-height: 34px;
                    font-weight: 400;
                    min-width: 80px;
                    max-width: 90px;
                    padding: 0;
                }
                .input-group {
                    max-width: 300px;
                    vertical-align: middle;
                    input {
                        cursor: pointer;
                        background: #fff !important;
                    }
                }
                .input-group-addon {
                    cursor: pointer;
                    font-size: 0;
                    background-color: #fff;
                    &:hover:not(.disable) {
                        color: #0BC972;
                    }
                    i {
                        font-size: 16px;
                    }
                    &.disable {
                        cursor: not-allowed;
                        color: #ddd;
                    }
                }
                .num {
                    max-width: 96px;
                    .input-group-addon {
                        padding: 6px 8px;
                    }
                    .form-control {
                        padding: 6px 2px;
                        text-align: center;
                    }
                }
                .stock-tips {
                    position: absolute;
                    left: 106px;
                    width: 8em;
                    line-height: 34px;
                    color: #999;
                }
                tbody {
                    .btn-default, .text-muted {
                        color: #0BC972;
                    }
                    .btn-default[disabled] {
                        color: #ccc;
                        .text-muted {
                            color: #ccc;
                        }
                    }
                    .btn-info,
                    .btn-info.active,
                    .btn-info:active,
                    .btn-info:hover {
                        color: #fff;
                        .text-info, .text-muted {
                            color: #fff;
                        }
                    }
                }
            }
            .total {
                background-color: #f6f6f6;
                padding-left: 20px;
                color: #f30;
                height: 50px;
                position: relative;
                .total-price {
                    float: left;
                    line-height: 50px;
                    font-size: 18px;
                    .num {
                        font-size: 32px;
                    }
                }
                .buy {
                    float: right;
                    .order-btn {
                        border-radius: 0;
                        background-color: #f80;
                        border: none;
                        height: 50px;
                        &:hover {
                            background-color: #f60;
                        }
                        &[disabled] {
                            opacity: 0.3;
                            filter: alpha(opacity=40);
                        }
                    }
                }
            }
        }
    }
    .big-carousel {
        margin-bottom: 10px;
    }

    .panel-group {
        margin-top: 10px;
        .line-iti {
            list-style: none;
        }
        .iti-title {
            color: #085;
            font-size: 16px;
            line-height: 32px;
            margin: 10px 0 10px 5px;
        }
        .p_notice {
            color: #0BC972;
            font-size: 13px;
        }
        .package-print {
            text-decoration: none;
            float: right;
            width: 92px;
            height: 22px;
            margin-left: 10px;
            border: 1px solid #0BC972;
            text-align: center;
            line-height: 22px;
            color: #0BC972;
            border-radius: 2px;
        }
        .package-comment {
            .star-num {
                float: left;
                font-size: 32px;
                color: #ff9e00;
                padding: 0 10px;
            }
            .star-font {
                float: left;
                .star-tip {
                    padding: 0 4px;
                }
            }
            .avg-star {
                font-size: 20px;
            }
            .full-star {
                position: absolute;
                z-index: 2;
                left: 0;
                top: 0;
                width: 50%;
                overflow: hidden;
                white-space: nowrap;
                height: 100%;
            }
            [class^='glyphicon-star'] {
                color: #ff9e00;
                float: left;
                margin: 0 2px;
            }
            .list-group-item {
                border-right: none;
                border-left: none;
                border-radius: 0;
                border-color: #eee;
                .comment-user-name {
                    float: left;
                    width: 60px;
                    margin-top: 6px;
                }
                .comment-detail {
                    margin-left: 60px;
                    .comment-star {
                        font-size: 18px;
                        margin: 6px 0;
                    }
                    .comment-content {
                        margin-bottom: 8px;
                    }
                    .comment-time {
                        color: #999;
                    }
                }
            }

            .pagination {
                margin-top: 0;
                float: right;
            }
        }
    }

    .panel-heading {
        cursor: pointer;
    }

    @media (max-width: 767px) {
        .package-info {
            margin: 1px auto;
        }
        .package-img {
            padding: 0;
            .carousel {
                width: 100%;
                height: 160px;
                .carousel-control {
                    display: none;
                }
                .text-center {
                    position: relative;
                    overflow: hidden;
                    height: 160px;
                    .slide-img {
                        position: absolute;
                        height: auto;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);;
                    }
                }
            }
        }
        .collapsing {
            transition: none !important;
        }
        .panel-group {
            .package-comment {
                .list-group-item {
                    padding: 10px 0;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .package-img {
            .carousel {
                width: 360px;
                height: 180px;
            }
        }
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .order-list {
            .hidden-xs {
                display: inline-block !important;
            }
            .visible-xs-block {
                display: none !important;
            }
        }
    }

    .package-detail-nav {
        position: fixed;
        right: 20px;
        bottom: 160px;
        &>ul {
            list-style: none;
            padding: 4px 0;
            background: #ebebeb;
            border-radius: 2px;
            color: #333;
            &>li {
                cursor: pointer;
                font-size: 16px;
                padding: 6px 10px;
                &.active {
                    color: #fff;
                    background: #0BC972;
                }
                &:hover {
                    color: #fff;
                    background-color: #0BC972;
                }
            }
        }
    }
}