<div class="package-page page">
    <tour-header query-str="queryStr"></tour-header>
    <div class="package-info container">
        <div class="row">
            <div class="package-img col-sm-6 col-md-6 col-lg-6">
                <div uib-carousel active="0" interval="intervalTime" class="big-carousel" center-img>
                    <div uib-slide ng-repeat="image in package.images track by $index" index="$index" ng-swipe-left="$parent.$parent.next()" ng-swipe-right="$parent.$parent.prev()">
                        <img ng-src="{{image}}" class="slide-img">
                    </div>
                </div>
            </div>
            <div class="package-detail col-sm-6 col-md-6 col-lg-5">
                <h3 class="title" ng-bind="package.title"></h3>
                <div class="collection">
                    <form name="cForm" class="collect-form">
                        <span ng-click="collectIt(cForm)">
                            <span class="glyphicon" ng-class="{'glyphicon-heart-edge': !package.collected, 'glyphicon-heart-full': package.collected}"></span> 收藏
                        </span>
                    </form>
                </div>
                <div class="price">
                    ￥ <span ng-bind="package.price" class="num"></span> 起
                </div>
                <div class="other row">
                    <div class="departure_city col-xs-6">
                        <div class="key">
                            出发城市
                        </div>
                        <div class="content" ng-bind="package.departure_city">
                        </div>
                    </div>
                    <div class="days col-xs-6">
                        <div class="key">
                            天数
                        </div>
                        <div class="content" ng-bind="package.days">
                        </div>
                    </div>
                </div>
                <div class="choice">
                    <form name="bForm">
                        <div class="form-group">
                            <label for="departure-time" class="col-xs-3">出发日期：</label>
                            <div class="input-group col-xs-8">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" ng-change="dateChange()"
                                       is-open="datepickerOpening" datepicker-options="dateOptions" show-button-bar="false"
                                       placeholder="选择出发日期" id="departure-time" readonly ng-click="openDatepicker()">
                                <span class="input-group-addon" ng-click="openDatepicker()"><i class="glyphicon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="num" class="col-xs-3">人数选择：</label>
                            <div class="input-group col-xs-4 num">
                                <span class="input-group-addon" ng-class="{disable: num<=1}" ng-click="changeNum(-1)"><i class="glyphicon-minus"></i></span>
                                <input type="text" class="form-control" id="num" ng-model="num" ng-change="checkState()">
                                <input type="hidden" ng-model="choice.stock">
                                <input type="hidden" ng-model="choice.price">
                                <div class="stock-tips" ng-show="choice">(剩余 {{choice.stock}})</div>
                                <span class="input-group-addon" ng-class="{disable: num>=choice.stock}" ng-click="changeNum(1)"><i class="glyphicon-plus"></i></span>
                            </div>
                        </div>
                        <div class="total clearfix">
                            <div class="total-price">
                                <span ng-show="totalPrice!=='--'">￥</span><span ng-bind="totalPrice" class="num"></span>
                            </div>
                            <div class="buy">
                                <button type="button" class="btn btn-lg btn-danger order-btn" ng-click="orderIt(bForm)" ng-disabled="!choice || choice.stock==0">立即预定</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <!--<ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="javascript:" ng-click="gotoAnchor('package-features')">产品特色</a></li>
                <li role="presentation"><a href="javascript:" ng-click="gotoAnchor('package-tour-detail')">行程详情</a></li>
                <li role="presentation"><a href="javascript:" ng-click="gotoAnchor('package-price-detail')">费用说明</a></li>
                <li role="presentation"><a href="javascript:" ng-click="gotoAnchor('package-precautions')">注意事项</a></li>
            </ul>-->
            <div class="col-lg-11">
                <uib-accordion close-others="false">
                    <div id="package-features" uib-accordion-group class="panel-info" is-open="status.featuresOpen" template-url="package-panel-template.html">
                        <uib-accordion-heading>
                            产品特色 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.featuresOpen, 'glyphicon-chevron-right': !status.featuresOpen}"></i>
                        </uib-accordion-heading>
                        <p>精选昆明五星级酒店|温泉+高尔夫挥杆体验 ，让疲惫远离你的身心<br>
                            五味俱全（全程指定特色民族餐饮）<br>
                            精选云南地道民族美食，纳西火塘鸡∣洱海砂锅鱼∣过桥米线∣宜良烤鸭<br>
                            山水胜景<br>
                            安排云南知名景点<br>
                            AAAAA级景区：玉龙雪山（冰川大索道）∣石林<br>
                            AAAA级景区：南诏风情岛|洱海大游船<br>
                            人气景区：大理古城∣丽江古城|丽江恋歌<br>
                            豪华赠礼<br>
                            洱海豪华游轮，观洱海盛景<br>
                            赠送价值150元足疗SPA</p>
                    </div>
                    <div id="package-tour-detail" uib-accordion-group class="panel-info" is-open="status.detailOpen" template-url="package-panel-template.html">
                        <uib-accordion-heading>
                            行程详情 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.detailOpen, 'glyphicon-chevron-right': !status.detailOpen}"></i>
                        </uib-accordion-heading>
                        <div class="itinerary">
                            <div class="clear"></div>

                            <a id="day0"></a> <div class="clear"></div> <div class="iti-title">
                            <span>第<strong>1</strong>天</span>
                            西安乘机赴昆明长水国际机场<img src="http://ms.xktec.com/images/vehicle_plane.png">
                        </div><ul><li class="line-iti"><div class="line-item-content">西安贵宾今日乘机抵达昆明长水国际机场，我社将安排接机人员于机场1号出口为您接机，并安排商务专车送至酒店办理入住手续。考虑您长途跋涉和进入高原地区，为避免出现身体不适应，我社今日将无行程安排，并为为您安排温泉酒店。</div><div class="line-iti-img"></div></li></ul><div class="clear"></div> <a id="day1"></a> <div class="clear"></div> <div class="iti-title">
                            <span>第<strong>2</strong>天</span>
                            昆明<img src="http://ms.xktec.com/images/vehicle_bus.png">大理<img src="http://ms.xktec.com/images/vehicle_bus.png">丽江
                        </div><ul><li class="line-iti"><div class="line-item-content">早餐后，乘车前往大理，抵达后品尝午餐“白族风味餐”，用餐后游览历史文化名城【大理古城】（游览60分钟，含古城维护费，电瓶车35元/人，），游览大理经典景区【蝴蝶泉】（游览40分钟）。结束后乘车至丽江，抵达后品尝晚餐“马帮菜”，用餐后游览国家AAAAA级景区【丽江古城】（古城为开放式景区，各位贵宾请自行游览），结束后入住酒店休息。</div></li></ul><div class="clear"></div> <a id="day2"></a> <div class="clear"></div> <div class="iti-title">
                            <span>第<strong>3</strong>天</span>
                            丽江一地<img src="http://ms.xktec.com/images/vehicle_bus.png">
                        </div><ul><li class="line-iti"><div class="line-item-content">早餐后，游览国家AAAAA景区【玉龙雪山】·【冰川大索道】（游览180分钟，不含排队及用餐时间），游览【蓝月谷】 （蓝月谷电瓶车自理60元/人）。结束后返回市区参观丽江康体特产【螺旋藻】，晚餐品尝“丽江火塘鸡”，用餐后游览【宋城景区】，并赠送实景演出《丽江恋歌》，观赏结束后入住酒店休息。</div></li></ul><div class="clear"></div> <a id="day3"></a> <div class="clear"></div> <div class="iti-title">
                            <span>第<strong>4</strong>天</span>
                            丽江<img src="http://ms.xktec.com/images/vehicle_bus.png">大理<img src="http://ms.xktec.com/images/vehicle_bus.png">安宁
                        </div><ul><li class="line-iti"><div class="line-item-content">早餐后，乘车前往大理。抵达后参观【白族民居】（参观60分钟，含“白族三道茶“歌舞表演）。中午品尝“洱海砂锅鱼”，用餐后乘坐【洱海豪华游轮】观赏苍山洱海美景，并游览国家AAAA级景区【南诏风情岛】（乘船、游览时间150分钟）。结束后乘车前往安宁，于指定餐厅品尝晚餐，用餐后入住温泉酒店休息（赠送足疗SPA）。</div></li></ul><div class="clear"></div> <a id="day4"></a> <div class="clear"></div> <div class="iti-title">
                            <span>第<strong>5</strong>天</span>
                            安宁<img src="http://ms.xktec.com/images/vehicle_bus.png">昆明
                        </div><ul><li class="line-iti"><div class="line-item-content">早餐后，乘车返程昆明。抵达后参观【云南民族村·翡翠博物馆】（参观180分钟）。中午品尝云南特色美食“过桥米线”，用餐后参观【黄龙玉展示馆】僰银博物馆，结束后乘车至石林，游览国家AAAAA级景区【石林风景名胜区】（游览120分钟）。晚餐品尝宜良烤鸭，用餐后返回昆明市区，入住高尔夫温泉酒店（赠送高尔夫球挥杆体验，每间房120球）。</div></li></ul><div class="clear"></div> <a id="day5"></a> <div class="clear"></div> <div class="iti-title">
                            <span>第<strong>6</strong>天</span>
                            昆明长水国际机场乘机<img src="http://ms.xktec.com/images/vehicle_plane.png">返回西安
                        </div><ul><li class="line-iti"><div class="line-item-content">早餐后，将根据各位贵宾的返程航班时间安排参观【鲜花市场】（参观60分钟），参观后由送机人员为您送机，并预祝您一路平安！</div></li></ul><div class="clear"></div>

                            <p class="p_notice">以上行程仅供参考，最终行程可能会根据实际情况进行微调，敬请以出团通知为准。</p>
                        </div>
                    </div>
                    <div id="package-price-detail" uib-accordion-group class="panel-info" is-open="status.priceDetailOpen" template-url="package-panel-template.html">
                        <uib-accordion-heading>
                            费用说明 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.priceDetailOpen, 'glyphicon-chevron-right': !status.priceDetailOpen}"></i>
                        </uib-accordion-heading>
                        <p>1、交通标准：西安/昆明往返机票(具体航班时刻仅供参考,以当日航空公司实际公布时间为准)及机场建设费及燃油费，当地空调旅游车（当地地接社将视具体团队人数安排用 &nbsp; &nbsp; &nbsp;车，保证每人一正座）。<br>
                            2、餐饮标准：此行程包含5早餐/8正餐，十人一桌（不含酒水）；正餐标准40元/人/餐，特色餐50元/人/餐<br>
                            3、住宿标准：昆明指定五星级酒店（1晚） +丽江豪华精品酒店（2晚）+安宁温泉酒店（1晚）+昆明高尔夫温泉酒店（1晚）<br>
                            4、车辆标准：此行程中所使用车辆为具有合法运营资质的空调旅游车。<br>
                            5、服务标准：此行程中所安排导游为持有国家导游资格证，并有5年以上从业经验的优秀省、地陪带有<br>
                            6、安全标准：此行程已为游客购买云南旅游组合保险（旅行社责任险）<br>
                            7、赠送项目：此行程中赠送丽江《丽江恋歌》、足疗SPA、高尔夫球挥杆体验，大理古城维护费30元/人<br>
                            昆明段入住酒店：汉唐莲花温泉酒店（第1日）（备选：蓝魅主题酒店）<br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 高尔夫温泉酒店（第5日/含温泉）（备选：铭春花园温泉酒店、唐韵大酒店）<br>
                            丽江入住酒店：吉钰酒店（第2、3日）<br>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;（备选：华天大酒店、喜来福大酒店、天乐酒店）<br>
                            安宁入住酒店：瑞美温泉酒店（第4日）（永恒大酒店）<br>
                            备注：如遇不可抗力或政府接待等特殊原因，导致无法安排指定酒店时，我社有权安排同级别、同标准的其他酒店
                        </p>
                    </div>
                    <div id="package-precautions" uib-accordion-group class="panel-info" is-open="status.precautionsOpen" template-url="package-panel-template.html">
                        <uib-accordion-heading>
                            注意事项 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.precautionsOpen, 'glyphicon-chevron-right': !status.precautionsOpen}"></i>
                        </uib-accordion-heading>
                        <p>
                            ★药品：自备常用感冒药、肠胃药、晕船晕车药等。<br>
                            ★安全：在自由活动期间请注意安全，妥善保管好您的随身物品，以免丢失。<br>
                            云南属边疆区域，交通四通八达，藏民族较多，请您随时携带您的身份证件。<br>
                            ★装备：相机必不可少，因为丽香格里拉紫外线强，最好做好防晒措施，如防晒霜，太阳镜，遮阳帽等。<br>
                            ★饮食：民族地区的饮食颇有风味，当地的餐饮口味可能和自己家乡的口味相差很大，可以根据自己的要求询问导游或者相关工作人员，他们会给游客们最好的推荐，也可以自备些家乡的咸菜等。<br>
                            ★风俗：云南属少数民族聚集地，出行前最好是先对主要名族的民风习俗有所了解，以免造成不必要的误会。<br>
                            ★土特产：翡翠玉石、云南白药、纯银饰品、云南烤烟、黄龙玉、竹荪、围棋子、火腿、普洱茶、牛肝菌、各种时令水果等。
                        </p>
                    </div>
                    <div id="package-comment" uib-accordion-group class="panel-info" is-open="status.commentOpen" template-url="package-panel-template.html">
                        <uib-accordion-heading>
                            用户点评 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.commentOpen, 'glyphicon-chevron-right': !status.commentOpen}"></i>
                        </uib-accordion-heading>
                        <div class="package-comment">
                            <div class="comment-title clearfix">
                                <div class="star-num" ng-bind="avgStar"></div>
                                <div class="star-font">
                                    <div class="star-tip">
                                        综合评分
                                    </div>
                                    <div class="avg-star clearfix">
                                        <i ng-class="{'glyphicon-star-empty': avgStar==0, 'glyphicon-star-half-empty': avgStar>0 && avgStar<1, 'glyphicon-star': avgStar>=1}"></i>
                                        <i ng-class="{'glyphicon-star-empty': avgStar<=1, 'glyphicon-star-half-empty': avgStar>1 && avgStar<2, 'glyphicon-star': avgStar>=2}"></i>
                                        <i ng-class="{'glyphicon-star-empty': avgStar<=2, 'glyphicon-star-half-empty': avgStar>2 && avgStar<3, 'glyphicon-star': avgStar>=3}"></i>
                                        <i ng-class="{'glyphicon-star-empty': avgStar<=3, 'glyphicon-star-half-empty': avgStar>3 && avgStar<4, 'glyphicon-star': avgStar>=4}"></i>
                                        <i ng-class="{'glyphicon-star-empty': avgStar<=4, 'glyphicon-star-half-empty': avgStar>4 && avgStar<5, 'glyphicon-star': avgStar>=5}"></i>
                                    </div>
                                </div>
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="comment in comments track by $index">
                                    <div class="comment-user-name" ng-bind="comment.userName"></div>
                                    <div class="comment-detail">
                                        <div class="comment-star clearfix">
                                            <i ng-class="{'glyphicon-star-empty': comment.star==0, 'glyphicon-star-half-empty': comment.star>0 && comment.star<1, 'glyphicon-star': comment.star>=1}"></i>
                                            <i ng-class="{'glyphicon-star-empty': comment.star<=1, 'glyphicon-star-half-empty': comment.star>1 && comment.star<2, 'glyphicon-star': comment.star>=2}"></i>
                                            <i ng-class="{'glyphicon-star-empty': comment.star<=2, 'glyphicon-star-half-empty': comment.star>2 && comment.star<3, 'glyphicon-star': comment.star>=3}"></i>
                                            <i ng-class="{'glyphicon-star-empty': comment.star<=3, 'glyphicon-star-half-empty': comment.star>3 && comment.star<4, 'glyphicon-star': comment.star>=4}"></i>
                                            <i ng-class="{'glyphicon-star-empty': comment.star<=4, 'glyphicon-star-half-empty': comment.star>4 && comment.star<5, 'glyphicon-star': comment.star>=5}"></i>
                                        </div>
                                        <div class="comment-content" ng-bind="comment.content">
                                        </div>
                                        <div class="comment-time" ng-bind="comment.time">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-show="comments">
                                <ul uib-pagination total-items="totalItems" ng-model="$parent.$parent.$parent.currentPage"
                                    max-size="maxSize" force-ellipses="true" previous-text="上一页"
                                    next-text="下一页" class="hidden-xs" ng-change="goPage()">
                                </ul>
                                <ul uib-pager total-items="totalItems" ng-model="$parent.$parent.$parent.currentPage" previous-text="上一页"
                                    next-text="下一页" class="visible-xs-block" ng-change="goPage()">
                                </ul>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="package-panel-template.html">
    <div class="panel-heading" ng-click="toggleOpen()">
        <h4 class="panel-title" uib-accordion-transclude="heading">
            <span uib-accordion-header>
            {{heading}}
            </span>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</script>