<div class="package-page page">
    <tour-header query-str="queryStr"></tour-header>
    <div class="container">
        <div class="wrong-package" ng-if="!package">
            Sorry, 您访问的页面不见了。
        </div>
        <div class="package-info" ng-show="package">
            <div class="row">
                <div class="package-img col-sm-6 col-md-6 col-lg-6">
                    <div uib-carousel active="0" interval="intervalTime" class="big-carousel" center-img>
                        <div uib-slide ng-repeat="image in package.images track by $index" index="$index" ng-swipe-left="$parent.$parent.next()" ng-swipe-right="$parent.$parent.prev()">
                            <img ng-src="{{image}}" class="slide-img">
                        </div>
                    </div>
                </div>
                <div class="package-detail col-sm-6 col-md-6 col-lg-5">
                    <h3 class="title" ng-bind="package.title"></h3>
                    <div class="collection">
                        <form name="cForm" class="collect-form">
                        <span ng-click="collectIt(cForm)">
                            <span class="glyphicon" ng-class="{'glyphicon-heart-edge': !package.collected, 'glyphicon-heart-full': package.collected}"></span> 收藏
                        </span>
                        </form>
                    </div>
                    <div class="price">
                        ￥ <span ng-bind="package.minPrice" class="num"></span> 起
                    </div>
                    <div class="other row">
                        <div class="departure_city col-xs-6">
                            <div class="key">
                                出发城市
                            </div>
                            <div class="content" ng-bind="package.departureCity">
                            </div>
                        </div>
                        <div class="days col-xs-6">
                            <div class="key">
                                天数
                            </div>
                            <div class="content" ng-bind="package.days">
                            </div>
                        </div>
                    </div>
                    <div class="choice">
                        <form name="bForm">
                            <div class="form-group">
                                <label for="departure-time" class="col-xs-3">出发日期：</label>
                                <div class="input-group col-xs-8">
                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" ng-change="dateChange()"
                                           is-open="datepickerOpening" datepicker-options="dateOptions" show-button-bar="false"
                                           placeholder="选择出发日期" id="departure-time" readonly ng-click="openDatepicker()">
                                    <span class="input-group-addon" ng-click="openDatepicker()"><i class="glyphicon-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="num" class="col-xs-3">人数选择：</label>
                                <div class="input-group col-xs-4 num">
                                    <span class="input-group-addon" ng-class="{disable: num<=1}" ng-click="changeNum(-1)"><i class="glyphicon-minus"></i></span>
                                    <input type="text" class="form-control" id="num" ng-model="num" ng-change="checkState()">
                                    <input type="hidden" ng-model="choice.stock">
                                    <input type="hidden" ng-model="choice.price">
                                    <div class="stock-tips" ng-show="choice">(剩余 {{choice.stock}})</div>
                                    <span class="input-group-addon" ng-class="{disable: num>=choice.stock}" ng-click="changeNum(1)"><i class="glyphicon-plus"></i></span>
                                </div>
                            </div>
                            <div class="total clearfix">
                                <div class="total-price">
                                    <span ng-show="totalPrice!=='--'">￥</span><span ng-bind="totalPrice" class="num"></span>
                                </div>
                                <div class="buy">
                                    <button type="button" class="btn btn-lg btn-danger order-btn" ng-click="orderIt(bForm)" ng-disabled="!choice || choice.stock==0">立即预定</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="javascript:" ng-click="gotoAnchor('package-features')">产品特色</a></li>
                    <li role="presentation"><a href="javascript:" ng-click="gotoAnchor('package-tour-detail')">行程详情</a></li>
                    <li role="presentation"><a href="javascript:" ng-click="gotoAnchor('package-price-detail')">费用说明</a></li>
                    <li role="presentation"><a href="javascript:" ng-click="gotoAnchor('package-precautions')">注意事项</a></li>
                </ul>-->
                <div class="col-lg-11">
                    <uib-accordion close-others="false">
                        <div id="package-features" uib-accordion-group class="panel-info" is-open="status.featuresOpen" template-url="package-panel-template.html">
                            <uib-accordion-heading>
                                产品特色 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.featuresOpen, 'glyphicon-chevron-right': !status.featuresOpen}"></i>
                            </uib-accordion-heading>
                            <div ng-bind-html="package.features || '无'"></div>
                        </div>
                        <div id="package-tour-detail" uib-accordion-group class="panel-info" is-open="status.detailOpen" template-url="package-panel-template.html">
                            <uib-accordion-heading>
                                行程详情 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.detailOpen, 'glyphicon-chevron-right': !status.detailOpen}"></i>
                            </uib-accordion-heading>
                            <div ng-bind-html="package.tourDetail || '无'"></div>
                        </div>
                        <div id="package-price-detail" uib-accordion-group class="panel-info" is-open="status.priceDetailOpen" template-url="package-panel-template.html">
                            <uib-accordion-heading>
                                费用说明 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.priceDetailOpen, 'glyphicon-chevron-right': !status.priceDetailOpen}"></i>
                            </uib-accordion-heading>
                            <div ng-bind-html="package.priceDetail"></div>
                        </div>
                        <div id="package-precautions" uib-accordion-group class="panel-info" is-open="status.precautionsOpen" template-url="package-panel-template.html">
                            <uib-accordion-heading>
                                注意事项 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.precautionsOpen, 'glyphicon-chevron-right': !status.precautionsOpen}"></i>
                            </uib-accordion-heading>
                            <div ng-bind-html="package.precautions || '无'"></div>
                        </div>
                        <div id="package-comment" uib-accordion-group class="panel-info" is-open="status.commentOpen" template-url="package-panel-template.html">
                            <uib-accordion-heading>
                                用户点评 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.commentOpen, 'glyphicon-chevron-right': !status.commentOpen}"></i>
                            </uib-accordion-heading>
                            <div class="package-comment">
                                <div class="comment-title clearfix">
                                    <div class="star-num" ng-bind="avgStar"></div>
                                    <div class="star-font">
                                        <div class="star-tip">
                                            综合评分
                                        </div>
                                        <div class="avg-star clearfix">
                                            <i ng-class="{'glyphicon-star-empty': avgStar==0, 'glyphicon-star-half-empty': avgStar>0 && avgStar<1, 'glyphicon-star': avgStar>=1}"></i>
                                            <i ng-class="{'glyphicon-star-empty': avgStar<=1, 'glyphicon-star-half-empty': avgStar>1 && avgStar<2, 'glyphicon-star': avgStar>=2}"></i>
                                            <i ng-class="{'glyphicon-star-empty': avgStar<=2, 'glyphicon-star-half-empty': avgStar>2 && avgStar<3, 'glyphicon-star': avgStar>=3}"></i>
                                            <i ng-class="{'glyphicon-star-empty': avgStar<=3, 'glyphicon-star-half-empty': avgStar>3 && avgStar<4, 'glyphicon-star': avgStar>=4}"></i>
                                            <i ng-class="{'glyphicon-star-empty': avgStar<=4, 'glyphicon-star-half-empty': avgStar>4 && avgStar<5, 'glyphicon-star': avgStar>=5}"></i>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="comment in comments track by $index">
                                        <div class="comment-user-name" ng-bind="comment.userName"></div>
                                        <div class="comment-detail">
                                            <div class="comment-star clearfix">
                                                <i ng-class="{'glyphicon-star-empty': comment.star==0, 'glyphicon-star-half-empty': comment.star>0 && comment.star<1, 'glyphicon-star': comment.star>=1}"></i>
                                                <i ng-class="{'glyphicon-star-empty': comment.star<=1, 'glyphicon-star-half-empty': comment.star>1 && comment.star<2, 'glyphicon-star': comment.star>=2}"></i>
                                                <i ng-class="{'glyphicon-star-empty': comment.star<=2, 'glyphicon-star-half-empty': comment.star>2 && comment.star<3, 'glyphicon-star': comment.star>=3}"></i>
                                                <i ng-class="{'glyphicon-star-empty': comment.star<=3, 'glyphicon-star-half-empty': comment.star>3 && comment.star<4, 'glyphicon-star': comment.star>=4}"></i>
                                                <i ng-class="{'glyphicon-star-empty': comment.star<=4, 'glyphicon-star-half-empty': comment.star>4 && comment.star<5, 'glyphicon-star': comment.star>=5}"></i>
                                            </div>
                                            <div class="comment-content" ng-bind="comment.content">
                                            </div>
                                            <div class="comment-time" ng-bind="comment.time">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div ng-show="comments">
                                    <ul uib-pagination total-items="totalItems" ng-model="$parent.$parent.$parent.currentPage"
                                        max-size="maxSize" force-ellipses="true" previous-text="上一页"
                                        next-text="下一页" class="hidden-xs" ng-change="goPage()">
                                    </ul>
                                    <ul uib-pager total-items="totalItems" ng-model="$parent.$parent.$parent.currentPage" previous-text="上一页"
                                        next-text="下一页" class="visible-xs-block" ng-change="goPage()">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="package-panel-template.html">
    <div class="panel-heading" ng-click="toggleOpen()">
        <h4 class="panel-title" uib-accordion-transclude="heading">
            <span uib-accordion-header>
            {{heading}}
            </span>
        </h4>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
    </div>
</script>