.package-page {
    .package-img {
        .carousel {
            width: 450px;
            height: 225px;
        }
        .slide-img {
            width: 100%;
            cursor: pointer;
        }
    }
    .package-info {
        margin: 30px auto;
        .title {
            margin-top: 0;
            font-size: 18px;
            line-height: 22px;
        }
        .price {
            color: #f30;
            font-size: 18px;
            background-color: #f6f6f6;
            padding: 10px 20px;
            .num {
                font-size: 32px;
            }
        }
        .other {
            text-align: center;
            line-height: 25px;
            margin: 10px 0;
            .content {
                color: #838383;
            }
            &>div {
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                &:not(:last-child) {
                    border-right: 1px solid #eee;
                }
            }
        }
        .choice {
            .form-group {
                label {
                    line-height: 34px;
                    font-weight: 400;
                    min-width: 80px;
                    max-width: 90px;
                    padding: 0;
                }
                .input-group {
                    max-width: 300px;
                    vertical-align: middle;
                    input {
                        cursor: pointer;
                        background: #fff!important;
                    }
                }
                .input-group-addon {
                    cursor: pointer;
                    font-size: 0;
                    background-color: #fff;
                    &:hover:not(.disable) {
                        color: #0BC972;
                    }
                    i {
                        font-size: 16px;
                    }
                    &.disable {
                        cursor: not-allowed;
                        color: #ddd;
                    }
                }
                .num {
                    max-width: 96px;
                    .input-group-addon {
                        padding: 6px 8px;
                    }
                    .form-control {
                        padding: 6px 2px;
                        text-align: center;
                    }
                }
                .stock-tips {
                    position: absolute;
                    left: 106px;
                    width: 8em;
                    line-height: 34px;
                    color: #999;
                }
                tbody {
                    .btn-default, .text-muted {
                        color: #0BC972;
                    }
                    .btn-default[disabled]{
                        color: #ccc;
                        .text-muted {
                            color: #ccc;
                        }
                    }
                    .btn-info,
                    .btn-info.active,
                    .btn-info:active,
                    .btn-info:hover {
                        color: #fff;
                        .text-info, .text-muted {
                            color: #fff;
                        }
                    }
                }
                .collection {
                    float: right;
                    line-height: 34px;
                    padding-right: 2px;
                    &>span {
                        cursor: pointer;
                        line-height: 34px;
                    }
                    .glyphicon {
                        color: #f30;
                        font-size: 20px;
                        vertical-align: -16%;
                    }
                }
            }
            .total {
                background-color: #f6f6f6;
                padding-left: 20px;
                color: #f30;
                height: 50px;
                .total-price {
                    float: left;
                    line-height: 50px;
                    font-size: 18px;
                    .num {
                        font-size: 32px;
                    }
                }
                .buy {
                    float: right;
                    .order-btn {
                        border-radius: 0;
                        background-color: #f80;
                        border: none;
                        height: 50px;
                        &:hover {
                            background-color: #f60;
                        }
                        &[disabled] {
                            opacity: 0.3;
                            filter: alpha(opacity=40);
                        }
                    }
                }
            }
        }
    }
    .big-carousel {
        margin-bottom: 10px;
    }

    .panel-group {
        margin-top: 10px;
    }

    .panel-heading {
        cursor: pointer;
    }

    @media (max-width: 767px) {
        .package-info {
            margin: 1px auto;
        }
        .package-img {
            padding: 0;
            .carousel {
                width: 100%;
                height: 160px;
                .carousel-control {
                    display: none;
                }
                .text-center {
                    position: relative;
                    overflow: hidden;
                    height: 160px;
                    .slide-img {
                        position: absolute;
                        cursor: pointer;
                        height: auto;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);;
                    }
                }
            }
        }
        .collapsing {
            transition: none !important;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .package-img {
            .carousel {
                width: 360px;
                height: 180px;
            }
        }
    }
}